*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 100%;
    background-image: url(../img/Background.png);
    background-size: cover;
    background-position: top;

}

header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.menu{
    display: flex;
}

.menu>ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu>ul>li>a{
    padding: 10px 20px;
    text-decoration: none;
    color: #111827;
    font-weight: 600px;
}

.menu>ul>li>a:hover {
    color: #541eb1;
}

.banner{
    max-width: 1200px;
    margin: 72px auto;
    display: grid;
    padding: 0px 30px;
    padding-bottom: 15px;
    grid-template-columns: 2fr 1fr;
}

.banner-content{
    margin-top: 96px;
}

.banner-content>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;
}

.banner-content>p{
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
}

.get{
    border-radius: 8px;
    background-color: #7C3AED;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    transition: all .25s;
    font-feature-settings: 'liga' off;
    padding: 16px 24px;
    color: white;
    border: none;
}

.banner-content>div{
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.get:hover{
    background-color: #4b1c9b;
}

.watch{
    padding: 16px 24px;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #7C3AED;
    border: none;
    transition: all .25s;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.watch:hover{
    background-color: #dad1eb;
    border-radius: 8px;
}

.logo-brands{
    max-width: 1200px;
    margin: 10px auto;
    border-top: 2px solid #E5E7EB;
    border-bottom: 2px solid #E5E7EB;
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo-brands>ul{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
}

.features{
    max-width: 1200px;
    margin: 106px auto;
}

.features-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.features-content>h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.features-content>p{
    margin-top: 8px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.features-blocks{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 64px;
    text-align: center;
}

.features-blocks>div>h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #111827;
    margin-top: 24px;
}

.features-blocks>div>span{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    margin-top: 8px;
}
