body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #111827;
 }
 
 .container {
    width: 100%;
 }
 
 .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    position: relative;
 }
 
 /*----------------- СТИЛИ БЛОКА HEADER --------------------*/
 .header {
    background-image: url("../img/Background.png");
    background-size: cover;
    background-position: top right;
 }
 
 nav {
    display: grid;
    grid-template-columns: 128px 1fr 1fr;
    align-items: center;
    padding: 20px 0px;
 }
 
 .header-logo {
    display: contents;
 }
 
 menu {
    display: flex;
    list-style: none; 
 }
 
 menu>li>a {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
 }
 
 menu>li>a:hover {
     color: #4f1ea3;
 }
 
 .header-buttons {
    display: flex;
    justify-self: right;
    gap: 16px;
 }
 
 .header-buttons>a {
    display: contents;
 }
 
 .header-hamburger-menu {
    height: 40px;
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 12px 5px;
    cursor: pointer;
  }
 
  .header-hamburger-menu>span {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background: #111827;
  }
 
 /*----------------- СТИЛИ БЛОКА BANNER --------------------*/
 .banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 72px 0px;
    justify-items: center;
 }
 
 .banner-content {
    padding-top: 96px;
 }
 
 .banner-content>h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
 }
 
 .banner-content>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
    margin-top: 16px;
 }
 
 .banner>img{
    width: 100%;
    max-width: 392px;
 }
 
 .banner-btn {
    padding: 16px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all .25s;
 }
 
 .banner-get {
    background: #7C3AED;
    color: #FFFFFF;
 }
 
 .banner-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
 }
 
 .banner-watch {
    background: transparent;
    color: #7C3AED;
    display: flex;
    align-items: center;
    gap: 8px;
 }
 
 .banner-get:hover {
     background: #3d197a; 
 }
 
 .banner-watch:hover {
    background: #e3d3ff;
 }
 
 /*----------------- СТИЛИ БЛОКА BRANDS --------------------*/
 .brands-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    margin: 16px 0;
    column-gap: 64px;
    row-gap: 32px;
    padding: 32px 0px;
 }
 
 .brands-logo>a {
    display: contents;
 }
 
 /*----------------- СТИЛИ БЛОКА FEATURES --------------------*/
 .features-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 64px;
 }
 
 .features-text>h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    margin-bottom: 8px;
 }
 
 .features-text>p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
 }
 
 .features-cells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 64px;
    column-gap: 30px;
    padding-bottom: 96px;
 }
 
 .feature-cell>h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 24px;
 }
 
 .feature-cell>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    margin-top: 8px;
 }
 
 /*----------------- СТИЛИ БЛОКА COMMENTS --------------------*/
 .comments {
    background-color: #D5FAFC;
 }
 
 .comments-quote {
    position: absolute;
    z-index: 0;
    top: 62px;
 }
 
 .comments-area {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    padding-top: 120px;
    padding-bottom: 96px;
    z-index: 1;
    position: relative;
 }
 
 .comments-area-left {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-end;
 }
 
 .comments-area-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 72px;
 }
 
 .text {
    max-width: 488px;
 }
 
 .text>h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    margin: 0;
 }
 
 .text>p{
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
    line-height: 28px;
 }
 
 .comments-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 32px;
    max-width: 384px;
 }
 
 .mw-488 {
    max-width: 488px;
 }
 
 .comments-card-content {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
 }
 
 .comments-card-text {
    font-size: 18px;
    line-height: 28px;
 }
 
 .comments-card-text .name {
    font-weight: 700;
    margin-top: 24px;
 }
 
 .comments-card-text .job-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
 }
 
 /*----------------- СТИЛИ БЛОКА ACHIEVEMENTS --------------------*/
 .achievements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
 }
 
 .achievements-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 40px;
 }
 
 .achievements-item {
    display: flex;
    gap: 16px;
    align-items: center;
 }
 
 .achievements-item>img {
    width: 32px;
    height: 32px;
 }
 
 .achievements-text>h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin: 0;
 }
 
 .achievements-text>p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
 }
 
 /*----------------- СТИЛИ БЛОКА TOOLS --------------------*/
 .tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
 }
 
 /** Интерактивный вариант **/
 .tools-icon {
    display: grid;
    padding: 7%;
    justify-items: center;
    background-image: url('../img/circle.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 .row {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 112px));
    justify-content: center;
    justify-items: center;
    gap: 14%;
 }
 
 .row>img {
    width: 100%;
    max-width: 64px;
 }
 
 .row:nth-child(1) {
    margin-bottom: 10%;
 }
 
 .row:nth-child(2) {
    transform: translateX(14%);
 }
 
 /*----------------- СТИЛИ БЛОКА MOBILE --------------------*/
 .mobile {
    background: #1DB5BE;
 }
 
 .mobile-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 
 .mobile-content {
    padding: 111px 0px;
 }
 
 .mobile-app-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
 }
 
 .mobile-app-img>img {
    object-fit: contain;
    display: flex;
    width: 100%;
    max-width: 304px;
 }
 
 .mobile-app-img>img:nth-child(1) {
    align-self: flex-start;
 }
 
 .mobile-app-img>img:nth-child(2) {
    align-self: flex-end;
 }

 .mockup1{
    border-bottom-left-radius: 11%;
    border-bottom-right-radius: 11%;
 }

 .mobile-app-buttons>p{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #111827;
    margin-top: 40px;
    margin-bottom: 8px;
 }
 
 /*----------------- СТИЛИ БЛОКА FOOTER --------------------*/
 .footer {
    background-color: #000;
    color: #FFFFFF;
 }
 
 .colum {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
 }
 
 .app {
    display: grid;
    gap: 16px;
 }
 
 .about {
    display: grid;
    gap: 24px;
 }
 
 .text-items {
    display: flex;
    gap: 16px;
 }
 
 .text-items>a {
    text-decoration: none;
    color: #fff;
 }
 
 .text-items>a:hover {
    color: #7C3AED;
 }
 
 /*--------- СТИЛИ ДЛЯ ЭКРАНОВ ДО 960px ---------*/
 @media (max-width: 960px) {
 
    menu {
       display: none;
    }
 
    .header-hamburger-menu {
       display: flex;
    }
 
    nav {
       grid-template-columns: 128px 1fr;
    }
 
    .banner {
       grid-template-columns: 1fr;
       gap: 72px;
    }
    .banner-content {
       padding-top: 0px;
    }
 
    .banner-content>h1 {
       font-size: 48px;
       line-height: 60px;
    }
 
    /**-------features---------**/
    .features-text {
       padding-top: 80px;
    }
 
    .features-text>h1 {
       font-size: 36px;
       line-height: 45px;
    }
 
    .features-cells {
       grid-template-columns: 1fr 1fr;
    }
 
    .feature-cell>h2 {
       font-size: 24px;
       line-height: 32px;
       margin-top: 12px;
    }
 
    /**-------comments---------**/
    .comments-area {
       gap: 24px;
       grid-template-columns: 1fr;
       padding-bottom: 80px;
   }
 
   .comments-area-left {
       gap: 40px;
       align-items: flex-start;
    }
 
    .text {
       max-width: 100%;
   }
 
    .text>h2{
       font-size: 36px;
       line-height: 45px;
    }
 
    .comments-card, .mw-488 {
       max-width: 100%;
   }
 
   .comments-area-right {
       padding-top: 0px;
       gap: 24px;
    }
 
    .comments-quote {
       top: 50px;
       left: 8px;
   }
 
    /**-------achievements---------**/
    .achievements {
       grid-template-columns: 1fr;
       gap: 48px;
    }
 
    .achievements-text>h3 {
       font-size: 30px;
       line-height: 40px;
    }
 
    /**-------achievements---------**/
    .mobile-block {
       grid-template-columns: 1fr;
       gap: 48px;
    }
 
 }
 
 /*--------- СТИЛИ ДЛЯ ЭКРАНОВ ДО 576px ---------*/
 @media (max-width: 576px) {
    .content {
       padding: 0px 16px;
    }
 
    .header-buttons>a {
       display: none;
    }
 
    .banner {
       padding-bottom: 24px;
    }
 
    .banner-content>h1 {
       font-size: 36px;
       line-height: 45px;
    }
 
    .banner-btn {
       padding: 16px;
       font-size: 14px;
    }
 
    /**-------features---------**/
    .features-text {
       padding: 48px 0;
    }
 
    .features-cells {
       grid-template-columns: 1fr;
       row-gap: 48px;
    }
 
    /**-------comments---------**/
    .comments-area {
       padding-bottom: 48px;
       padding-top: 80px;
   }
 
   .comments-area-left {
       gap: 32px;
    }
 
    .text>h2{
       font-size: 30px;
       line-height: 40px;
    }
    
    .text>p{
       font-size: 16px;
       line-height: 24px;
    }
 
    /**-------achievements---------**/
    .achievements {
       padding: 48px 0;
    }
 
    .achievements-text>h3 {
       font-size: 24px;
       line-height: 32px;
    }
    
    .achievements-text>p {
       font-size: 14px;
       line-height: 20px;
    }
 
    /**-------tools---------**/
    .tools {
       grid-template-columns: 1fr;
       gap: 36px;
       padding: 40px 0;
   }
 
    /**-------mobile---------**/
    .mobile-app-img {
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
    }
 
    .colum {
       flex-direction: column;
       gap: 32px;
   }
   
   .text-items {
       flex-wrap: wrap;
    }
 
 }